body{
    background-color: pink;
}

#question{
    color: mediumvioletred;
    text-align: center;
    font-style: baskerville;
}

#answer{
    color: mediumvioletred;
    text-align: center;
    font-style: baskerville;
    display: none;
}

#hearts{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#bear{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#yes-button {
    background-color: lime;
    border: none;
    color: black;
    cursor: pointer;
    display: block;
}

#no-button {
    background-color: red;
    border: none;
    color: black;
    display: block;
}
